{% extends 'home_site2/base.html' %}
{% load static %}

{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->



    <title>Forgot password - {{site.site_name}}  </title>
    <div class="d-flex flex-column min-vh-100 px-3 pt-4">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">

    

                <div class="card">
                    <div class="card-body p-4"> 
                        <div class="text-center mt-2">
                            <h5>Reset password</h5>
                            <p class="text-muted">Enter your email to reset</p>
                        </div>

                        
                        <div class="p-2 mt-4">
                            <form action="{% url 'reset_pass_request' %}" method="POST">
                                {% csrf_token %}
                                
                                {% for field in form %}

                                <div class="mb-3">
                                    <label class="form-label" for="{{field.name}}">{{field.field.widget.attrs.field_title}}</label>
                                    <div class="position-relative input-custom-icon">
                                        {{field}}
                                         <span class="{{field.field.widget.attrs.icon}}"></span>
                                    </div>
                                </div>

                                {% endfor %}



                                
                                <div class="mt-3">
                                    <button class="btn btn-primary site-button w-100 waves-effect waves-light" type="submit">Reset</button>
                                </div>


                                <div class="mt-4 text-center">
                                    <p class="mb-0">Don't have an account? Register now<a href="auth-register.html" class="fw-medium text-primary"> Signup now </a> </p>
                                </div>
                            </form>
                        </div>
    
                    </div>
                </div>

            </div><!-- end col -->
        </div><!-- end row -->



    </div>





{% endblock content %}


{% block scripts %}

<script src="{% static 'dashboard/assets/js/pages/pass-addon.init.js' %}"></script>

{% endblock scripts %}
