{% extends 'home_site2/base.html' %}

{% load static %}
{% block content %}


		<!--**********************************
            Content body start
        ***********************************-->
    <title>{{site.site_slogan}} - {{site.site_name}}  </title>

			<!-- ============================================================== -->
			<!-- Start right Content here -->
			<!-- ============================================================== -->


			{% comment %} Start main section {% endcomment %}

    <div class="row flex-lg-row align-items-center mb-5">

        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">

                Surveys that generate responses

            </h1>
            <h2 class="lead fs-3">
            </h2>

            <div class="text-center" >
                    <a href="{% url 'register_user' %}" type="button" class="btn btn-primary btn-lg site-button ">Start free trial now</a>
                    <p class="text-center my-1" >No credit card required.
                    </p>
            </div>


        </div>

        <div class="col-10 col-sm-8 col-lg-6 mx-auto ">
            <img
                src="{% static 'images/laptop-mockup-quiz-creator.jpg' %}"
                class="d-block mx-lg-auto img-fluid " alt="quizElements quiz survey creation creator on laptop" loading="lazy"
                style="max-height:30rem;" >
        </div>
    </div>

			{% comment %} End main section {% endcomment %}


            <div class="row my-5">
                <div class="col-lg-4">
                  <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
                  </div>
                  <h2>Heading</h2>
                  <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                  <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
                </div>

                  <h2>Heading</h2>
                  <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                  <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
                </div>

                  <h2>Heading</h2>
                  <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                </div><!-- /.col-lg-4 -->
              </div>
    

            
            <div class="row" >
                <div class="bootstrap-media">
                    <ul class="list-unstyled">
                        <li class="media">
                            <div class="media-body">
                                <h2 class="mt-0 ">Step 1. Create</h2>
                                
                                <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
                                </div>

                    <p class="mb-0">
                        Easily create the perfect durvey or quiz. With over 8+ elements to choose from everything will be customizable.

                        <br>
                        <br>

                        <h4>
                            Want to control how many questions there are per page?
                        </h4>
                        <br>
                        <h5>
                            Easy to do so with our quiz builder.
                        </h5>

                   
                        </p>
                </div>
            </li>
            <li class="media my-4">
                <div class="media-body">
                    <h2 class="mt-0">Step 2. Generate responses</h2>
                                                    
                    <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
                    </div>
                    <p class="mb-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <h2 class="mt-0">Step 3. Analyze</h2>
                                                    
                    <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
                    </div>
                    <p class="mb-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </li>
        </ul>
    </div>
</div>




{% endblock content %}
