{% extends 'home_site2/base.html' %}

{% load static %}
{% block content %}


		<!--**********************************
            Content body start
        ***********************************-->
    <title>{{site.site_slogan}} - {{site.site_name}}  </title>

			<!-- ============================================================== -->
			<!-- Start right Content here -->
			<!-- ============================================================== -->


			{% comment %} Start main section {% endcomment %}

    <div class="row flex-lg-row align-items-center mb-5">

        <div class="col-lg-6 mx-auto text-center">
            <h1 class="display-5 fw-bold lh-1 mb-3">

                Create, share and analyze forms, quizes and surveys

            </h1>
            <h2 class="lead fs-3">
            </h2>

            <div class="text-center" >
                <a href="{% url 'register_user' %}" type="button" class="btn btn-primary btn-lg site-button ">Register for 7 day free trial </a>
                <p class="text-center my-1" >No credit card required.
                </p>
            </div>


        </div>

    
    </div>

			{% comment %} End main section {% endcomment %} 


    <u>
        <h2 class="text-center mb-4">Use cases</h2>
    </u>

            <div class="row w-90 mx-auto justify-content-center d-flex">

                
                <a href="{% url 'customer_survey' %}">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="card text-center border border-3 border-dark">
                        <div class="card-body">

                            <p class="card-text">Create the perfect customer survey with fully customizable quizElements.</p>
                            <a href="javascript:void()" class="btn btn-primary site-secondary-button my-3">Customer surveys</a>
                        </div>
                       
                    </div>
                </div>
            </a>
                
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <a href="{% url 'lead_capture' %}">
                    <div class="card text-center border border-3 border-dark">
                        <div class="card-body">

                            <p class="card-text">Create amazing lead generation forms with facebook and Tiktok conversion API integration</p>
                            <a href="javascript:void()" class="btn btn-primary site-secondary-button my-3">Lead generation</a>
                        </div>
                    
                    </div>
                    </a>
                </div>
                
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <a href="{% url 'exit_interview_surveys' %}">
                    <div class="card text-center border border-3 border-dark">
                        <div class="card-body">

                            <p class="card-text">Create exit interview surveys easily and discover actionable insights.</p>
                            <a href="javascript:void()" class="btn btn-primary site-secondary-button my-3">Exit interview surveys</a>
                        </div>
                    
                    </div>
                    </a>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <a href="{% url 'event_surveys' %}">
                    <div class="card text-center border border-3 border-dark">
                        <div class="card-body">

                            <p class="card-text">Pre and post event feedback surveys have never been easier includes QR code link.</p>
                            <a href="javascript:void()" class="btn btn-primary site-secondary-button my-3">Event feedback surveys</a>
                        </div>
                    
                    </div>
                    </a>
                </div>

         




{% endblock content %}
