<h4>
    Thank you for your order!
</h4>

<br>
<b>
    Your support is greatly appreciated and we hope we're able to provide value to you
</b>
<br>
Order Details <br>

Amount: {{order.currency.currency_symbol}}{{order.order_total}} {{order.currency.currency_code}}
<br>
{% if order.product.type == 'user_chosen' %}
Amount per month: {{order.currency.currency_symbol}}{{order.user_chosen_price_per_month}} {{order.currency.currency_code}}
<br>
Months: {{order.user_chosen_interval_months}}
<br>
{% endif %}