<div id="modalContent" class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Add rows to your agree disagree table</h5>
        <button type="button" id="closeModalElement" class="close" data-dismiss="modal"><span>×</span>
        </button>
    </div>
    <div class="modal-body">
        {% if not choices %}
            <div class="text-center my-5">No choices added yet</div>
        {% else %}
            <div class="table-responsive my-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Question number</th>
                            <th>Question title</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for choice in choices %}
                            <tr>
                              
                                <td>{{choice.position}}</td>

                                <td><div class="d-flex align-items-left">{{choice.title}}</div></td>
                         
                                <td style="justify-content: right;" class="d-flex">
                                    <div class="d-flex align-items-right">
                                        <a type="button"
                                           hx-delete="{% url 'delete_row_agree_disagree_row' user_quiz.id quiz_page.id element.id choice.id %}"
                                           hx-target='#modalContent'
                                           hx-swap=outerHTML
                                        >Delete <div class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></div></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}




        <form
            hx-post={% url 'add_row_to_agree_disagree_element' user_quiz.id quiz_page.id element.id %}
            hx-target='#modalContent'
            hx-swap=outerHTML
            hx-encoding="multipart/form-data"
        >
            <div class="input-group my-2">
                <textarea type="text" name="choice_name" class="form-control" maxlength="5000" columns=30 rows=10 placeholder="Enter your question here"></textarea>
                <div class="input-group-append">
                    <button style="top:-3px" class="btn btn-primary site-button" type="submit">Add</button>
                </div>
            </div>

            <div class="my-2">
                <a type="button" class="btn btn-primary site-button float-right"
                   data-dismiss="modal"
                   hx-trigger="click"
                   hx-target="#page_elements"
                   hx-swap=outerHTML
                   hx-get={% url 'get_quiz_page_elements' user_quiz.id quiz_page.id %}
                   {% if not edit %}
                       hx-target="#modalContent"
                       hx-swap=outerHTML
                       hx-get="{% url 'all_element_swatches' user_quiz.id quiz_page.id  %}"
                   {% endif %}

                >
                    Load changes

                </a>
            </div>
        </form>

    </div>
</div>


<script>
    {% comment %} document.querySelector('#closeModalElement').click() {% endcomment %}
</script>

{% comment %} <div

hx-target="#page_elements"
hx-swap=outerHTML
hx-trigger=load
hx-get={% url 'get_quiz_page_elements' user_quiz.id quiz_page.id %}
> {% endcomment %}
        {% comment %} Refresh list  {% endcomment %}        
