<div id="modalContent" class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Select an element to add</h5>
        <button type="button" id="closeModalElement" class="close" data-dismiss="modal"><span>×</span>
        </button>
    </div>
    <div class="modal-body">
        <form action=""
              hx-post={% url 'quiz_page_element_add' user_quiz.id quiz_page.id %}
              hx-target='#modalContent'
              hx-swap=innerHTML

        >
            {% include 'element_choices.html' %}
            <div class="">
                <button type="button" class="btn btn-danger light" style="border-radius:0 !important;" data-dismiss="modal">Cancel</button>
                <button id="continueElementChocies" type="submit" class="btn btn-primary site-button">Continue</button>
            </div>
        </form>

    </div>
</div>


{% if element_added %}
    <script>
        document.querySelector('#closeModalElement').click()
    </script>

    <div

        hx-target="#page_elements"
        hx-swap=outerHTML
        hx-trigger=load
        hx-get={% url 'get_quiz_page_elements' user_quiz.id quiz_page.id %}
    >
        {% comment %} Refresh list  {% endcomment %}        
{% endif %}