<div id="modalContent" class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Select an element to add</h5>
        <button type="button" class="close" data-dismiss="modal"><span>×</span>
        </button>
    </div>
    <div class="modal-body">
        <form action="" 
        hx-post={% url 'quiz_page_element_add' user_quiz.id quiz_page.number %}
        hx-target='#modalContent'
        hx-swap=innerHTML
        >
        {% include 'element_choices.html' %}
        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <div class="">
            <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary site-button">Continue</button>
        </div>
        </form>

    </div>
</div>