<div class="modal-header">
    <h5 class="modal-title">{% if edit %}Edit {% else %} Add {% endif %} character input field</h5>
    <button type="button" class="close" data-dismiss="modal"><span>×</span>
    </button>
</div>
<div class="modal-body">
    <form

        {% if edit %}
            hx-post={% url 'edit_char_input_element' user_quiz.id quiz_page.id quiz_page_element.id %}
            hx-target='#page_elements'
            hx-swap=outerHTML
        {% else %}
            hx-post={% url 'add_char_input_element' user_quiz.id quiz_page.id %}
            hx-target='#modalContent'
            hx-swap=outerHTML
        {% endif %}
        hx-sync="closest form:abort"

    >
        {{form.media}}
        {% for field in form %}
            {{field.field.widget.attrs.field_title}}

            {{field}}
        {% endfor %}

        <div class="my-3 text-center">
            <button
                {% if not edit %}
                    hx-get={% url 'all_element_swatches' user_quiz.id quiz_page.id %} hx-trigger=click
                    hx-target='#modalContent' hx-swap=outerHTML
                {% else %}
                    data-dismiss="modal"
                {% endif %}
                class="btn btn-danger light" style="border-radius:0 !important;"
            >
                {% if edit %}
                    Cancel
                {% else %}
                    Go back
                {% endif %}
            </button>
            <button id="addQuestion" type="submit" class="btn btn-primary site-button">{% if edit %}Save{% else %}Add{% endif %}</button>
            <script>
                document.querySelector('#addQuestion').focus()
            </script>
        </div>
    </form>

</div>