

<form id="user_image_{{user_quiz.id}}"
 hx-encoding='multipart/form-data'
hx-post="{% url 'upload_quiz_logo' user_quiz.id %}" 
    hx-trigger="change"
    hx-swap="outerHTML"
    hx-indicator="#spinner_{{user_quiz.id}}">

    
    {% if user_quiz.logo %}
        <div class="col-12 my-2">
            <h4>Quiz logo</h4>
            <h5 class="text-center">Current logo</h5>
        </div>
        <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 mx-auto">
                    <center>
                        <a href="#"
                         hx-post="{% url 'delete_logo_from_quiz' user_quiz.id %}"
                            hx-target="#user_image_{{user_quiz.id}}" hx-swap="outerHTML" hx-trigger="click">
                            <small class="text-muted text-center">
                                Remove?
                            </small>
                        </a> 
                        <div class="userImageUpload">
                            <img class="" src="{% if user_quiz.logo %}{{user_quiz.logo.url}}{% endif %}" alt="">
                        </div>
                    </center>
                </div>
        </div>

    {% else %}

    <p class="text-center my-4">
        No logo added to quiz
    </p>
        
    {% endif %}



        <label class="btn btn-primary site-button" style="width:100%"
        >
            Add a logo
            <br>
            <input name="logo"
                class="d-none form-control
                     required" style="display:none;" type="file" accept="image/*"

            />
        </label>

        {% if error %}
            <br><br>
            <span class="small text-danger">
                Please check logo has been uploaded by refreshing the page
            </span>

        {% endif %}

            <center id="spinner_{{user_quiz.id}}">

                <div  class="spinner-border text-dark my-4" role="status">
                </div>
                
            </center>
        <style>
            #spinner_{{user_quiz.id}}{
                opacity:0;
                transition: all 500ms ease-in;
                display:none;
            
              
            }                                                    
        
            .htmx-request #spinner_{{user_quiz.id}}{
                opacity:1;
                display: block;
            

            }
            .htmx-request#spinner_{{user_quiz.id}}{
                opacity:1;
                display: block; 
            }


        </style>


    <style>
        @media (min-width: 600px){
            .userImageUpload {
                max-width: 80%; /*set max width*/
                max-height: 40%;
            }
            .userImageUpload img{
                width:100%;
                object-fit:contain;
            }


        }
        @media (max-width: 600px){
            .userImageUpload {
                max-width: 70%; /*set max width*/
                max-height: 50%;
            }
            .userImageUpload img{
                width:100%;
                object-fit:contain;
            }


        }

    </style>
</form>



