<div class="table-responsive">


<table class="table header-border table-bordered table-responsive-sm">
    <thead class=>
        <strong>

        <tr>
            <td class="border-dark"  style="width:40%">
                <strong>
                    Question
                </strong>
            </td>
            <td class="border-dark" >
                <strong>
                    Mostly agree
                </strong>
            </td>
            <td class="border-dark" >
                <strong>
                    Agree
                </strong>
            </td>
            <td class="border-dark" >
                <strong>
                    Not sure
                </strong>
            </td>
            <td class="border-dark" >
                <strong>
                    Disagree
                </strong>
            </td>
            <td class="border-dark" >
                <strong>
                    Mostly disagree
                </strong>
            </td>
        </tr>
        
    </thead>

        
    {% for question in  element.get_element_type.element.get_agree_disagree_rows %}
        {% include 'take_quiz_elements/agree_disagree_row.html' %}
    {% endfor %}


</table>

</div>

{% if answers %}

{% for answer in answers %}

{% endfor %}


{% endif %}