
<select name="{{element.id}}" id="question_{{element.id}}" >
    
    {% for choice in element.get_element_type.element.get_dropdown_choices %}
    
    <option value="{{choice.id}}">{{choice.choice}}</option>
    {% endfor %}
</select>


{% comment %} 

         {% if not checked_db %}
              hx-trigger = 'load'
              hx-swap=outerHTML
              hx-target="#question_{{element.id}}"
              hx-get={% url 'get_value_stored_in_db'  quiz_page.quiz.id element.id response_id %}
          {% endif %}
          {% if answer %}value="{{answer.answer}}"{% endif %}
{% endcomment %}