<div class="form-group my-3" >
    <div class="d-none" id="swapRow{{question.id}}"></div>
    <tr class="my-3 border-dark text-center border-bottom" id="tableRow{{question.id}}"


        {% if not checked_db %}
            hx-trigger = 'load'
            hx-target="#swapRow{{question.id}}"
            hx-swap=innerHTML
            hx-get={% url 'get_value_stored_in_db_agree_disagree'  quiz_page.quiz.id element.id response_id  question.id %}
        {% endif %}
    >
        <td class="border-dark text-center" onclick="(this).querySelector('input').click()"  class="py-5">
            {{question.title}} 
            <small>
                {% if question.required  %}
                *
                {% else %}
                (optional)
                {% endif %}
            </small>
        </td>
        <td class="border-dark text-center" onclick="(this).querySelector('input').click()"  class="py-5"
        >
            <label class="radio-inline"><input type="radio" {% if question.required %} required {% endif %}  name="{{question.id}}" value="Mostly satisfied" ></label>
        </td>
        <td class="border-dark text-center" onclick="(this).querySelector('input').click()"  class="py-5">
            <label class="radio-inline"><input type="radio" {% if question.required %} required {% endif %}  name="{{question.id}}" value="Satisfied"></label>
        </td>
        <td class="border-dark text-center" onclick="(this).querySelector('input').click()"  class="py-5">
            <label class="radio-inline"><input type="radio" {% if question.required %} required {% endif %}  name="{{question.id}}" value="Not sure"></label>
        </td>
        <td class="border-dark text-center" onclick="(this).querySelector('input').click()"  class="py-5">
            <label class="radio-inline"><input type="radio" {% if question.required %} required {% endif %}  name="{{question.id}}" value="Unsatisfied"></label>
        </td>
        <td class="border-dark text-center" onclick="(this).querySelector('input').click()"  class="py-5">
            <label class="radio-inline"><input type="radio" {% if question.required %} required {% endif %}  name="{{question.id}}" value="Mostly unsatisfied"></label>
        </td>
    </tr>
</div>

{% if answer %}
    <script>
        row_{{question.id}} = document.querySelector('#tableRow{{question.id}}')


        row_{{question.id}}.querySelector('input[value="{{answer.answer}}"]').click()


    </script>
{% endif %}