{% load static %}
</div>
</div>


<!--**********************************
            Footer start
        ***********************************-->
<div class="footer px-2">
    <nav class="navbar navbar-expand d-none d-sm-block">
        <div class="collapse navbar-collapse justify-content-center text-center">
            <div class="header-left">

            </div>
            <ul class="navbar-nav header-right">


                {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'deliveryinfo' %}"> Delivery Info</li></a> {% endcomment %}
                {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'refundpolicy' %}"> Refund and Returns</a></li> {% endcomment %}



            </ul>
        </div>
    </nav>
    <div class="copyright">
        <p>Copyright © <script>document.write(new Date().getFullYear())</script>.
        </p>
        {% if quiz.logo %}

                <span class="">
                    <img src="{{quiz.logo.url}}" alt="" style="max-width:80%;max-height:5rem;">
                </span>
                {% endif %}
               
                  <p class="text-center mt-4">
                      Powered by www.quizelements.com
                    </p>
            





    </div>
</div>
<!--**********************************
            Footer end
        ***********************************-->

<!--**********************************
           Support ticket button start
        ***********************************-->

<!--**********************************
           Support ticket button end
        ***********************************-->


</div>
<!--**********************************
        Main wrapper end
    ***********************************-->

<!--**********************************
        Scripts
    ***********************************-->
<!-- Required vendors -->
<script src="{% static 'site_2/assets/vendor/global/global.min.js' %}"></script>
<script src="{% static 'site_2/assets/js/custom.min.js' %}"></script>
<script src="{% static 'site_2/assets/js/deznav-init.js' %}"></script>



<script>

    function handle_response_to_fbp(){
        console.log("Post data success")
        clearInterval(checkFBPInterval)
    }


    function post_fbp(fbp) {
        $.ajax({
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            type: 'POST',
            url: "{% url 'postfbpdata' %}",
            data: {fbp: String(fbp)},
            success: handle_response_to_fbp(),
            error: function(xhr, status, error) {
                console.log(status)
                console.log(error)
                // check status && error
            },
            dataType: 'text'
        });

    }

    function checkforFBP() {
        let name = '_fbp' + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                post_fbp(c.substring(name.length, c.length));
                return ""

            }
        }
        return "";
    }

    checkFBPInterval = setInterval(checkforFBP, 500);

</script>
