<form id="wrapped" method="post"

>
    {% csrf_token %}
    <input id="website" name="website" type="text" value="">
    <!-- Leave for security protection, read docs for details -->
    <div id="middle-wizard">



        <div class="step">
            {% if question.text_before_title %}
                {% autoescape off %}
                    <div>{{question.text_before_title}}</div>
                {% endautoescape %}
            {% endif %}
            <h3 class="main_question"> {{question.question_title}}</h3>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        {% autoescape off %}
                            {{question.page_content}}
                        {% endautoescape %}

                        {% if question.image %}

                            <center>

                                <img src="{{question.image}}" style="max-width:90%:max-height:90%;">

                                <br>
                            </center>
                        {% endif %}




                        {% for choice in question.get_question_choices %}

                            {% if question.user_preference_type.preference_name == 'font' %}
                                <style>
                                    @font-face {
                                        font-family: '{{choice.option}}';
                                        src: url('{{choice.font_file.url}}');
                                    }

                                    .font_{{choice.id}} {
                                        font-family: '{{choice.option}}';
                                        font-size: {{choice.font_size}}px;
                                    }
                                </style>
                                <label class="container_check version_2 font_{{choice.id}}">
                                    Include this font
                            {% else %}
                                <label class="container_check version_2">

                                    {{choice}}
                            {% endif %}

                            {% if question.question_type == "Multiple Choice" %}
                                <input type="checkbox" name="question_{{question.id}}" value="{{choice}}" class="{% if not question.skippable %} required {% endif %}">
                            {% elif question.question_type == "Single Choice" %}
                                <input type="radio" name="question_{{question.id}}" value="{{choice}}" {% if not question.skippable %} class="{% if not question.skippable %} required {% endif %}"{% endif %} >


                            {% endif %}

                            <span class="checkmark"></span>
                            </label>
                        {% endfor %}

                        {% if question.question_type == "Email Input" %}
                            <input type="email" name="question_email_{{question.id}}" id="email" placeholder="Enter your email here" class="form-control {% if not question.skippable %} required {% endif %}" onchange="getVals(this, 'email_field');">
                            <br>
                            <p style="font-size:0.6rem;">By entering your email your consent for your email to be used to contact you and for marketing purposes and analytics</p>
                        {% elif question.question_type == "Text Input" %}

                            <input {% if question.input_placeholder %}{{question.input_placeholder}} {% endif %} type="text" name="question_{{question.id}}" id="" class="form-control {% if not question.skippable %} required {% endif %}" maxlength="2000">
                        {% elif question.question_type == "password" %}

                            <input {% if question.input_placeholder %}{{question.input_placeholder}} {% endif %} type="password" minlength="12" name="question_{{question.id}}" id="" class="form-control
                                                                                                                                                                                             {% if not question.skippable %} required {% endif %}">

                        {% elif question.question_type == "Image Input" %}


                            <div hx-encoding='multipart/form-data' hx-post="{% url 'image_upload' quiz.unique_id response_id %}"
                                 hx-trigger="change"
                                 hx-swap="outerHTML"
                                 hx-indicator="#spinner_{{question.id}}">

                                <label class="btn btn-primary site-button" style="width:100%"
                                >

                                    Add a photo (0/{{question.image_upload_number}})
                                    <br>
                                    <input name="image_{{question.id}}"
                                           class="d-none form-control
                                                  {% if not question.skippable %} required {% endif %}" style="display:none;"  multiple="multiple" type="file" accept="image/*"

                                    />
                                </label>

                                <center>
                                    <div id="spinner_{{question.id}}" class="spinner-border text-dark m-1" role="status">
                                    </div>
                                </center>

                                <style>
                                    #spinner_{{question.id}}{
                                        opacity:0;
                                        transition: opacity 500ms ease-in;
                                    }                                                    }
                                    .htmx-request #spinner_{{question.id}}{
                                        opacity:1;
                                    }
                                    .htmx-request#spinner_{{question.id}}{
                                        opacity:1;
                                    }
                                </style>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /step-->




    </div>
    <!-- /middle-wizard -->
    <div id="bottom-wizard">
        <button type="button" name="backward" class="backward site-secondary-button">Prev</button>
        <button type="button" id="continue_button" name="forward" class="forward btn-primary site-button">Continue</button>
        <button type="submit"  name="process" class="submit btn-primary site-button">Continue</button>
    </div>
    <!-- /bottom-wizard -->
</form>