
<form  class="fade-me-in col-12 p-4 w-90 mx-auto my-2 fs-5"
      {% if question.type == 'Image Input' %}
          hx-get={% url 'submit_question' question.quiz.unique_id question.id %}?response_id={{response_id}}
      {% else %}
          hx-post={% url 'submit_question' question.quiz.unique_id question.id %}
      {% endif %}
      hx-swap="outerHTML settle:0.5s"
      hx-encoding="multipart/form-data"
      id="questionForm"

>
    <style>

        .fade-me-in.htmx-added {
            opacity: 0;
        }
        .fade-me-in {
            opacity: 1;
            transition: opacity 1s ease-in;
        }

        .card:hover {
            box-shadow: 5px 5px #28a745 !important
        }
        .card:focus {

        }

    </style>
    {% if question.description %}
        <div>
            {% autoescape off %}
                {{question.description}}
            {% endautoescape %}
        </div>
    {% endif %}
    {% if not question.type == 'Sales Page' %}
        <div id="inputContainer" class="mb-3">
            <label for="{{question.id}}" class="col-form-label">{{question.title}}
            </label>

            {% if question.type == 'Multiple Choice' %}

                <select  name="{{question.id}}" id="multiC_{{question.id}}" class="form-select d-none" multiple
                        {% if not question.skippable %} required {% endif %} >
                    {% for option in question.get_question_choices %}
                        <option value="{{option}}" id="option_{{option.id}}">{{option}}</option>
                    {% endfor %}
                </select>

                <div class="row  p-1" style="gap: 1.5rem !important;">
                    {% for option in question.get_question_choices %}

                        <div role="button" onclick="SelectDeselect(this);" id="card_{{option.id}}"
                             class="card border-3 col-12 col-sm-5" data-option={{option.id}} style="min-width:8rem;border:3px solid white;">
                            <div style="" class="text-center py-4">
                                <h4 class="card-title">{{option}}</h4>
                                {% if option.option_image_icon %}
                                    <img class="rounded" style="max-width:4rem;max-height:4rem;" src="{{option.option_image_icon.url}}" alt="">
                                {% endif %}
                            </div>
                        </div>

                    {% endfor %}
                </div>

                <script>
                    function SelectDeselect(e) {
                        console.log("SelectDeselect")
                        option_id = "#option_" + e.getAttribute('data-option')

                        optionToSelect = document.querySelector(option_id)
                        if (optionToSelect.selected){
                            e.classList.remove('border-success')
                            e.classList.add('border-white')

                            optionToSelect.selected = false;
                        } else {
                            e.classList.add('border-success')
                            e.classList.remove('border-white')

                            optionToSelect.selected = true;
                        }
                    };

                </script>

            {% elif question.type == 'Single Choice' %}

                <select  name="{{question.id}}" id="multiC_{{question.id}}" class="form-select d-none"
                        {% if not question.skippable %} required {% endif %}>
                    <option value=""></option>
                    {% for option in question.get_question_choices %}
                        <option value="{{option}}" id="option_{{option.id}}">{{option}}</option>
                    {% endfor %}
                </select>

                <div class="row p-1" style="gap: 1.5rem !important;">
                    {% for option in question.get_question_choices %}
                        <div role="button" onclick="SelectDeselect(this);" id="card_{{option.id}}"
                             class="card border-3 border-white col-12 col-sm-5" data-option={{option.id}} style="min-width:8rem;border:3px solid white;">
                            <div class="text-center py-4">
                                <h4 class="card-title">{{option}}</h4>
                                {% if option.option_image_icon %}
                                    <img class="rounded" style="max-width:4rem;max-height:4rem;" src="{{option.option_image_icon.url}}" alt="">
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <script>
                    function SelectDeselect(e) {
                        console.log("SelectDeselect")
                        option_id = "#option_" + e.getAttribute('data-option')
                        optionToSelect = document.querySelector(option_id)
                        select_field = optionToSelect.parentNode
                        if (optionToSelect.selected){
                            e.classList.remove('border-success')
                            e.classList.add('border-white')
                            optionToSelect.selected = false;
                            select_field.value = ''
                        } else {
                            e.classList.add('border-success')
                            e.classList.remove('border-white')
                            //Remove borders from others not selected
                            options_cards = Array.from(e.parentNode.querySelectorAll('.card'))
                            for (let i = 0; i < options_cards.length; i++) {
                                if (options_cards[i] != e){
                                    options_cards[i].classList.remove('border-success')
                                    options_cards[i].classList.add('border-white')
                                }

                            }
                            console.log(options)
                            optionToSelect.selected = true;
                        }
                    };

                </script>

            {% elif question.type == 'Char Input' %}
                <input  name="{{question.id}}" type="text" class="form-control fs-5" placeholder="{% if question.input_placeholder %}{{question.input_placeholder}}{% endif %}"
                       {% if not question.skippable %} required {% endif %} maxlength=150>
            {% elif question.type == 'Text Input' %}
                <textarea  name="{{question.id}}" type="text" class="form-control fs-5" placeholder="{% if question.input_placeholder %}{{question.input_placeholder}}{% endif %}"
                          {% if not question.skippable %} required {% endif %} maxlength=500 rows=10
                ></textarea>
            {% elif question.type == 'Image Input' %}
                {% include 'quiz_backend/htmx_image.html' %}
            {% elif question.type == 'Email Input' %}
                <input  name="{{question.id}}" type="email" class="form-control fs-5" placeholder="{% if question.input_placeholder %}{{question.input_placeholder}}{% endif %}"

                       {% if not question.skippable %} required {% endif %} maxlength=150>
                <div class="form-check form-switch form-switch-md mb-3" dir="ltr">
                    <input type="checkbox" name="email_consent" class="form-check-input" id="" checked="checked">
                    <label class="form-check-label text-small small" for="customSwitchsizemd">Check to receive email updates and offers</label>
                </div>

            {% elif question.type == 'Sales Page' %}
        {% comment %} Pass {% endcomment %}


            {% endif %}

            {% if previous_answer %}
                <script>
                {% comment %} Handles previous inputs {% endcomment %}

                    input_container = document.querySelector('#inputContainer')

                    {% if question.type == 'Single Choice' or question.type == 'Multiple Choice' %}
                        answers = [{% for choice in previous_answer.question_choice.all %}"{{choice.id}}",{% endfor %}]

                        for (let i = 0; i < (answers.length); i++) {
                            card_id = "#card_" + answers[i]
                            document.querySelector(card_id).click()

                        }

                    {% elif question.type == 'Char Input' or question.type == 'Email Input' %}


                        answer = `{{previous_answer.answer}}`
                        input_container.querySelector('input').value = answer

                    {% elif  question.type == 'Text Input' %}

                        answer = `{{previous_answer.answer}}`
                        input_container.querySelector('textarea').value = answer

                    {% endif %}


                </script>
            {% endif %}

            <div class="invalid-feedback">
                Please check your response
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    {% endif %}
    {% if not question.number == 1 %}

        <div class="d-flex flex-row-reverse align-items-center">
            <button
                onclick="document.querySelector('#questionForm').classList.add('was-validated');"
                class="btn site-button btn-primary" style="float:right;">
                {% if last_question %}
                    Continue
                {% else %}
                    Continue
                {% endif %}
            </button>

            <a  class="light small ml-0 mr-auto"
               hx-get="{% url 'go_back_question' question.quiz.unique_id question.id response_id %}"
               hx-trigger="click once"
               hx-target="#questionForm"
               hx-swap="outerHTML"
               role="button"
            >


                < Go back</a>
    {% endif %}


</div>
<input type="hidden" name="response" value="{{response_id}}">
</form>