<script>
    history.pushState(state='', unused='', url='{{hx_url}}')
</script>

<div class=" col-lg-9 mx-auto" id="pagesList">
    <div class="">
       
        <a href="{% url 'dashboard_home' %}">
            <p class="">< Back</p>
        </a>
        <div class="card px-1">
            
               <div class="px-3 my-3">
                   <h5 class"my-3" >Editing quiz: {{user_quiz.name}}</h5>
               </div>
            <div class="card-header d-sm-flex flex-wrap d-block pb-0 border-0 ">

                <button type="button" class="btn btn-primary site-button mb-2" data-toggle="modal" data-target="#exampleModalCenter">Add quiz page</button>
                {% comment %} <a target="_blank" href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}{% url 'preview_quiz' user_quiz.id %}" type="button" class="btn  mb-2 mr-2">View quiz preview</a> {% endcomment %}


                <div class="modal fade" id="exampleModalCenter">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add quiz page</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'quiz_page_add' user_quiz.id %}"
                                      method="POST"
                                >
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="">Enter a name for your quiz page<span class="required">*</span></label>
                                        <input type="text" class="form-control" name="name" required maxlength='300' placeholder="Enter name here">
                                        Note: Name is only shown to you and not displayed to users
                                    </div>

                                    <div class="text-center">
                                        <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary site-button">Continue</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <a target="_blank" href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}{% url 'take_quiz' user_quiz.id %}" type="button" class="btn btn-primary site-secondary-button mb-2 ml-auto ">Link to take quiz</a>
                <a href="{% url 'edit_quiz_completion_page' user_quiz.id %}" type="button" class="btn btn-primary site-secondary-button mb-2 ml-auto text-right">Edit quiz completion page </a>

                <button type="button" class="btn btn-primary site-secondary-button  mb-2 ml-auto text-right" data-toggle="modal" data-target="#quizSettingsModal">Quiz settings</button>

                <div class="modal fade" id="quizSettingsModal">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Quiz Settings</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {% include 'quiz_settings/logo_upload_form.html' %}
                                {% include 'quiz_settings/analytics_script_form.html' %}




                                <div class="text-center">
                                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body tab-content pt-2">
                <div class="tab-pane active show fade" id="Unifinshed">
                    {% for page in quiz_pages %}

                        <div class=" rounded shadow-lg my-5  " style="background-color:rgba(227, 227, 204, 0.3)">


                            <div  class="d-flex  flex-wrap py-3 list-row align-items-center mb-2">

                                <div class="col-xl-5 col-xxl-8 col-lg-6 col-sm-8 d-flex align-items-center">
                                    <div class="list-icon mr-3 mb-3">
                                        <p type="button"
                                        hx-get={% url 'move_page_up' user_quiz.id page.id %}
                                        hx-target='#pagesList'
                                        hx-swap=outerHTML
                                        class="site-color fs-20 mb-0 mt-2"><i class="fa fa-chevron-up"></i></p>
                                        <p type="button"
                                        hx-get={% url 'move_page_down' user_quiz.id page.id %}
                                        hx-target='#pagesList'
                                        hx-swap=outerHTML
                                        class="site-color fs-20 mb-0 mt-2"><i class="fa fa-chevron-down"></i></p>


                                    </div>
                                    <div class="info ">
                                        <h4 class=""><p class="text-black">{{page.number}}. {{page.title}}</p></h4>
                                        {% comment %} <p>This page will always be shown as it has no conditions attached</p> {% endcomment %}
                                    </div>
                                </div>
                                <div class="ml-auto pr-4">

                                    <a class=" btn btn-primary site-button mb-2" href="{% url 'quiz_page_edit' user_quiz.id page.id %}">
                                        <span >Edit <i class="fa fa-edit"></i></span>
                                    </a>

                                    <a href="#" class="mt-3"
                                    hx-delete={% url 'delete_quiz_page' user_quiz.id page.id %}
                                    hx-target='#pagesList'
                                    hx-swap=outerHTML
                                    hx-confirm="Are you sure you wish to delete the page {{page.name}}"
                                    >
                                        <div class="  text-danger text-right" style="border:3px  solid transparent!important;"> Delete <i class="fa fa-trash"></i></div>
                                    </div>

                                </a>

                            </div>

        

                            <div id="accordion-{{page.id}}" class="accordion  mx-auto my-4 " >
                                <div class="accordion__item">
                                    <div class="accordion__header border-0 collapsed" data-toggle="collapse" data-target="#bordered_collapse{{page.id}}" > <span class="accordion__header--text">View details</span>
                                        <span class="accordion__header--indicator"></span>
                                    </div>
                                    <div id="bordered_collapse{{page.id}}" class="accordion__body collapse" data-parent="#accordion-{{page.id}}" style="">
                                        <div class="accordion__body--text pb-5">

                                            {% if page.get_quiz_page_elements %}
                                            Quiz page elements: <br>
                                            {% for e in page.get_quiz_page_elements %}
                                                <br>
                                                {{e.position}}. {% if e.get_element_type.element.title %}
                                                {{e.get_element_type.element.title}}
                                                {% else %}
                                                No title added to page element
                                                {% endif %}
                                                <br>
                                                <small class="text-align-right ml-auto" style="float: right !important;">

                                                    <i class="text-small">
                                                        
                                                        ({{e.get_element_type.type}})
                                                    </i>
                                                </small>
                                            {% endfor %}
                                            {% else %}
                                            No page elements added. Click edit to add an element!
                                            
                                            {% endif %}
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                
                    </div>
                   
                </div>

                    {% if quiz_pages.count > 2 %}
                    <div class="card-header d-sm-flex flex-wrap d-block pb-0 border-0">
                        <div class="mr-auto pr-3 mb-3">
                            <h4 class="text-black fs-20"></h4>
                            <p class="fs-13 mb-0 text-black">Editing quiz: {{user_quiz.name}}</p>
                        </div>
        
                        
    
                        <button type="button" class="btn btn-primary site-button " data-toggle="modal" data-target="#exampleModalCenter">Add quiz page</button>



                    </div>
                    {% endif %}
                    </div>
                    </div>
                    </div>
