<script>
    history.pushState(state='', unused='', url='{{hx_url}}')

</script>

<div class="row d-block col-lg-9 mx-auto" id="pagesList">
        <div class="col-xl-12">
            <div class="card plan-list">
                <div class="card-header d-sm-flex flex-wrap d-block pb-0 border-0">
                    <div class="mr-auto pr-3 mb-3">
                        <h4 class="text-black fs-20"></h4>
                        <p class="fs-13 mb-0 text-black">{{user_quiz.name}}</p>
                    </div>
                    {% comment %} <div class="card-action card-tabs mr-4 mt-3 mt-sm-0 mb-3">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#All" role="tab" aria-selected="false">All</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#Unifinshed" role="tab" aria-selected="true">Unifinshed</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#Finished" role="tab">Finished</a>
                            </li>
                        </ul>
                    </div> {% endcomment %}
                    <a href="{% url 'quiz_page_add' user_quiz.id %}" class="btn btn-primary site-button mb-2" 
                    > Add quiz page </a>
           
                  
                </div>
                <div class="card-body tab-content pt-2">
                    <div class="tab-pane active show fade" id="Unifinshed">
                        {% for page in quiz_pages %}
                       
                        <div class="d-flex border-bottom flex-wrap pt-3 list-row align-items-center mb-2">
                            <div class="col-xl-5 col-xxl-8 col-lg-6 col-sm-8 d-flex align-items-center">
                                <div class="list-icon bgl-primary mr-3 mb-3">
                                    <p type="button" 
                                    hx-get={% url 'move_page_up' user_quiz.id page.id %}
                                    hx-target='#pagesList'
                                    hx-swap=outerHTML
                                    class="fs-24 text-primary mb-0 mt-2"><i class="fa fa-chevron-up"></i></p>
                                    <p type="button" class="fs-24 text-primary mb-0 mt-2"><i class="fa fa-chevron-down"></i></p>
                                </div>
                                <div class="info mb-3">
                                    <h4 class="fs-20 "><a href="workout-statistic.html" class="text-black">Page {{page.number}} {{page.id}}</a></h4>
                                    {% comment %} <span class="text-danger font-w600">UNFINISHED</span> {% endcomment %}
                                </div>
                            </div>
                           
                        </div>

                        <div id="accordion-{{page.id}}" class="accordion accordion-danger-solid w-75 mx-auto">
                            <div class="accordion__item">
                                <div class="accordion__header collapsed" data-toggle="collapse" data-target="#bordered_collapse{{page.id}}" > <span class="accordion__header--text">View details</span>
                                    <span class="accordion__header--indicator"></span>
                                </div>
                                <div id="bordered_collapse{{page.id}}" class="accordion__body collapse" data-parent="#accordion-{{page.id}}" style="">
                                    <div class="accordion__body--text">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
