{% extends 'dashboard2/base.html' %}

{% load static %}
{% block content %}

    <div class="row">

        <div class="col-lg-9 mx-auto ">
            <a href="{% url 'edit_quiz' user_quiz.id %}">
                <p class="">< Back  </p>
            </a>
            <div class="card ">
                <div class="card-header">

                    <h3 class="">
                        Quiz completion page settings
                    </h3>
                </div>
                <hr>

                {% include 'quiz_completion_page/redirect_url.html' %}



                <h4 class="text-center my-5">

                    ------- OR -------
                </h4>
                {% include 'quiz_completion_page/text_content.html' %}
            </div>
        </div>


    </div>


{% endblock content %}
