<hr class="border-dark w-100">

    {% for i in response.quiz.get_all_questions %}

        {% for x in i %}
            {% if not x.get_element_type.type == "Text" and not x.get_element_type.type == "Image" and not x.get_element_type.type == "Satisfied unsatisfied table" and not x.get_element_type.type == "Agree disagree table" %}


                    <small>
                        Question: 
                    </small>
                    <strong>
                        {{x.get_element_type.element.title}}
                    </strong>
                    <div hx-get={% url 'get_answer_individual_question_response_admin' response.quiz.id response.response_id x.id %}
                    hx-trigger="load"
                    >
                    </div>
            
            {% elif  x.get_element_type.type == "Satisfied unsatisfied table" or x.get_element_type.type == "Agree disagree table" %}

                    {% for row in x.get_element_type.element.get_rows %}
                    
                    <small>
                        Question: 
                    </small>
                    <strong>
                        {{row.title}}
                    </strong>
                    <br>
                    <div
                    {% if x.get_element_type.type == "Satisfied unsatisfied table" %}
                    hx-get={% url 'get_answer_individual_question_satisfied_unsatisfied_response_admin' response.quiz.id response.response_id row.id %}
                    {% else %}
                    hx-get={% url 'get_answer_individual_question_agree_disagree_response_admin' response.quiz.id response.response_id row.id %}
                    {% endif %}
                    hx-trigger=load
                    >

                    </div>
                    {% endfor %}


            {% endif %}
        {% endfor %}
    {% endfor %}      