<hr class="border-dark w-100">

{% for i in response.get_all_answers %}
{% for x in i %}

    <li>
        <div class="timeline-panel p-0 m-0">

            <div class="">
                <div>
                    <small>Question:</small>
                    <br>
                    <strong class="">
                        {% if x.question %}


                            {{x.question.get_element_type.element.title}}
                        {% else %}
                            {{x.question_agree_disagree.title}}
                        {% endif %}
                    </strong>
                </div>
                <br>


                <div >

                    {% if not x.question.get_element_type.type == 'Multiple choice question' %}
                        <small>Answer:</small>
                        <br>
                        <strong>
                            {{x.answer}}
                        </strong>
                    {% else %}
                        <small>Answers:</small>
                        <br>
                        <strong>
                            {% for i in x.question_choice.all %}
                                {{i.choice}} <br>
                            {% endfor %}
                        </strong>

                    {% endif %}

                    <hr class="border-dark w-100">

                </div>
            </div>

        </div>
    </li>
{% endfor %}
{% endfor %}