{% extends 'dashboard2/base.html' %}

{% load static %}


{% block content %}
    <div class="row">
        <div class="col-lg-9  mx-auto justify-content-center  my-5">
            <a class="no-print mb-2" type="button"  href="{% url 'view_quiz_results' quiz.id %}">< Back</a>

            <div class="card mx-auto">
                <div class="card-header " style="justify-content:right;">
                    <a class="btn btn-primary site-button float-right mb-3 no-print" type="button" onclick="window.print()">Print <i class="fa fa-print"></i></a>
                </div>
                <div class="card-body ">
                    <h4 class="card-title">Response details</h4>
                    <div class="widget-media">
                        <ul class="timeline">
                            {% include 'quizData/response_details_render.html' %}
                            
                        </ul>
                    </div>
                </div>
                <div class="chart-wrapper"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <canvas id="chart_widget_10" style="display: block; height: 250px; width: 879px;" class="chartjs-render-monitor" width="1098" height="312"></canvas>
                </div>
            </div>
        </div>

    </div>



{% endblock content %}



