{% load static %}

<style>
    {% autoescape off %}
        .site-button, button.site-button {
            {{site.site_button_css}}
        }
        .site-button:hover, button.site-button:hover {
            {{site.site_button_hover_css}}

        }
        .site-button.focus, .site-button:focus, button.site-button:focus,
        button.site-button.focus {
            {% if site.site_button_focus_css %}
                {{site.site_button_focus_css}}
            {% else %}
                {{site.site_button_css}}
            {% endif %}

        }
        .site-secondary-button, button.site-secondary-button {
            {{site.site_secondary_button_css}}
        }
        .site-secondary-button:hover, button.site-secondary-button:hover {
            {{site.site_secondary_button_hover_css}}

        }
        .site-secondary-button.focus, .site-secondary-button:focus, button.site-secondary-button:focus,
        button.site-secondary-button {
            {% if site.site_secondary_button_focus_css %}
                {{site.site_secondary_button_focus_css}}
            {% else %}
                {{site.site_secondary_button_css}}
            {% endif %}

        }

        .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, body {
        
                color: #302929 !important;
        

        }


        .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
            {{site.site_headings_css}}

        }
    {% endautoescape %}

    :root {
        --bs-body-bg: #ffffff;
    }
</style>

<!DOCTYPE html>
<html lang="en">
    <head>
        {% comment %} SEO {% endcomment %}
        <!-- For Google -->
        <meta name="description" content="{% if page %}{{page.memorial_description}}{% endif %}" />
        <meta name="keywords" content="" />

        <meta name="author" content="" />
        <meta name="copyright" content="" />
        <meta name="application-name" content="" />

        <!-- For Facebook -->
        <meta property="og:title" content="{% if page %}{{page.memorial_title}} {{page.page_for}} {% endif %}">
        <meta property="og:type" content="article" />
        <meta property="og:image" content="{% if page %}{{page.cleaned_image}}{% endif %}" />
        <meta property="og:url" content="" />
        <meta property="og:description" content="{% if page %}{{page.memorial_description}}{% endif %}" />

        <!-- For Twitter -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="" />
        <meta name="twitter:description" content="" />
        <meta name="twitter:image" content="" />


        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <!-- Favicon icon -->
        <link rel="shortcut icon" href="{% if site.site_icon %}{{site.site_icon.url}}{% endif %}" type="image/x-icon" />
        {% comment %} <link rel="stylesheet" href="{% static 'site_2/assets/vendor/chartist/css/chartist.min.css' %}"> {% endcomment %}
        <link href="{% static 'site_2/assets/css/style.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <script src="https://js.stripe.com/v3/"></script>
        <script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous"></script>
        <meta name="facebook-domain-verification" content="feupshq80ksfnboanqngfycypwk0hc" />


        {% autoescape off %}
            {% if site.site_meta_tags %}{{site.site_meta_tags}}{% endif %}
        {% endautoescape %}
        {% if enable_pixels_for_user %}
            {% autoescape off %}
                {% if site.site_global_analytics %}{{site.site_global_analytics}}{% endif %}
            {% endautoescape %}
        {% endif %}

    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

        <!--*******************
        Preloader start
    ********************-->
        <div id="preloader">
            <div class="sk-three-bounce">
                <div class="sk-child sk-bounce1"></div>
                <div class="sk-child sk-bounce2"></div>
                <div class="sk-child sk-bounce3"></div>
            </div>
        </div>
        <!--*******************
        Preloader end
    ********************-->

        <!--**********************************
        Main wrapper start
    ***********************************-->
        <div id="main-wrapper">

            <!--**********************************
            Nav header start
        ***********************************-->
            <div class="nav-header d-sm-none">

                <div class="nav-control d-sm-none" style="position:absolute;right:0!important;left: 0, i !important;">
                    <div class="hamburger">
                        <span class="line"></span><span class="line"></span><span class="line"></span>
                    </div>
                </div>
            </div>
            <!--**********************************
            Nav header end
        ***********************************-->


            <!--**********************************
            Header start
        ***********************************-->
            <div class="header px-5" style="height:5rem;">
                <div class="header-content px-2">
                    <div class="navbar-brand-box ml-4 d-flex text-center justify-content-center">
                        <a href="{% url 'home' %}" class="logo logo-light">
                            {% if site.site_logo %}
                                <span class="logo-lg">
                                    <img src="{{site.site_logo.url}}" alt="" style="max-width:80%;max-height:5rem;">
                                </span>
                            {% endif %}
                            {% if site.site_logo_square %}
                                <span class="logo-sm">
                                    <img src="{% if site.site_logo_square %}{{site.site_logo_square.url}}{% endif %}" alt="" height="26">
                                </span>
                            {% endif %}
                        </a>
                    </div>
                    <nav class="navbar navbar-expand d-none d-sm-block">
                        <div class="collapse navbar-collapse justify-content-between">
                            <div class="header-left">

                            </div>
                            <ul class="navbar-nav header-right">
                                <li class="nav-item  ">
                                    <a class="nav-link" href="{% url 'home' %}" >
                                        Home

                                    </a>
                                </li>

                                <li class="nav-item  ">
                                    <a class="nav-link" href="{% url 'pricing' %}" >
                                        Pricing
                                    </a>
                                </li>

                                {% comment %} <li class="nav-item ">
                                    <a class="nav-link" href="{% url 'wagtail_serve' '' %}category/all" >
                                        Blog
                                    </a>
                                </li> {% endcomment %}
                                {% if not user.is_authenticated %}

                                    <li class="nav-item ">
                                        <a class="nav-link" href="{% url 'login_user'  %}" >
                                            Login
                                        </a>
                                    </li>

                                    <li class="nav-item ">
                                        <a class="nav-link" href="{% url 'register_user' %}" >
                                            Register
                                        </a>
                                    </li>



                                {% else %}
                                    <li class="nav-item ">
                                        <a class="nav-link" href="{% url 'logout_user' %}" >
                                            Logout
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a style="width:100%;" href="{% url 'dashboard_home' %}" type="button" class="btn-lg btn-primary site-button"
                                           role="button" data-toggle="" aria-haspopup="true"
                                           aria-expanded="false">Dashboard </a>
                                    </li>


                                {% endif %}


                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

            <!--**********************************
            Sidebar start
        ***********************************-->
            <div class="deznav d-sm-none">
                <div class="deznav-scroll">
                    <ul class="metismenu" id="menu">
                        <li>
                            <a href="{% url 'home' %}" class="ai-icon" aria-expanded="false">
                                <span class="nav-text">Home</span>
                            </a>
                        </li>
                        {% comment %} <li>
                            <a href="{% url 'wagtail_serve' '' %}category/all" class="ai-icon" aria-expanded="false">
                                <span class="nav-text">Blog</span>
                            </a>
                        </li> {% endcomment %}

                        {% if not user.is_authenticated %}
                            <li>
                                <a href="{% url 'login_user' %}" class="ai-icon" aria-expanded="false">
                                    <span class="nav-text">Login</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'register_user' %}" class="ai-icon" aria-expanded="false">
                                    <span class="nav-text">Register</span>
                                </a>
                            </li>





                        {% else %}
                            <li>
                                <a href="{% url 'logout_user' %}" class="ai-icon" aria-expanded="false">
                                    <span class="nav-text">Logout</span>
                                </a>
                            </li>


                            <li class="nav-item mx-5">
                                <a style="width:100%;" href="{% url 'dashboard_home' %}" type="button" class="btn btn-primary site-button"
                                   role="button" data-toggle="" aria-haspopup="true"
                                   aria-expanded="false">Dashboard </a>
                            </li>


                        {% endif %}
                    </ul>

                    <div class="copyright">
                        <div class="copyright">
                            <p>Copyright © {{site.site_name}} <script>document.write(new Date().getFullYear())</script>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

            <div class="mt-5 container-fluid" style="min-height:30rem;background: white!important;">
                <div class="content-body col-12 col-md-10 mx-auto">

                    {% if messages %}
                        {% autoescape off %}
                            {% for message in messages %}
                                <div class="alert alert-warning alert-dismissible fade show mx-auto text-dark"
                                     role="alert">
                                    <center>
                                        <p>{{message}}</p>
                                    </center>
                                    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
                                    </div>
                            {% endfor %}

                        {% endautoescape %}

                    {% endif %}

                    {% comment %} {% if user_payment_status and not user_payment_status.status == "active"  %}

                        <div class="alert alert-warning alert-dismissible fade show mx-auto  text-dark"  role="alert">
                            <center>
                                <p>{% if user_payment_status.status == "free" %}
                                    You don't have an active membership. Find out the benefits of a membership here<a href='{{subscribe_url}}'></a>


                                {% elif user_payment_status.status == "free_trial_expired" %}
                                    Free trial expired. <a href='{{subscribe_url}}'>Subscribe</a>
                                    today to activate more features

                                {% elif user_payment_status.status == "free_trial" %}
                                    Free trial active. Expires on: {{user_payment_status.subscription_expiry|date:"l dS M Y"}}. <a href='{{subscribe_url}}'>Subscribe</a>
                                    today to activate more features
                                {% endif %}
                                </p>
                            </center>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                    {% endif %} {% endcomment %}