
<form id="quizRenderPreview"

      {% if not quiz_page.is_last_page %}

          hx-post={% url 'take_next_page' quiz_page.quiz.id quiz_page.number response_id %}
          hx-swap=outerHTML
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-encoding="multipart/form-data"
          {% comment %} hx-push-url="{{request.url}}?page={{quiz_page.number|add:1}}" {% endcomment %}
      {% else %}
          action={% url 'complete_quiz'  quiz_page.quiz.id quiz_page.number response_id %}
          method=post
      {% endif %}
      class=" my-5 mx-3">

    {% csrf_token %}

    <div class="col-lg-9 mx-auto p-5
                5 bg-white border-2 bg-shadow">
        <div class="row d-flex justify-content-center">

    


        </div>
        <div >

            {% for element in quiz_page.get_quiz_page_elements %}
                <br>
                {% if element.get_element_type.element.title  %}
                    <h3>{{element.get_element_type.element.title}} 
                        <small>
                        {% if element.get_element_type.element.required %}*
                        {% elif not element.get_element_type.type == 'Agree disagree table' and not element.get_element_type.type == 'Satisfied unsatisfied table' %}
                        
                            (optional)
                            {% endif %}
                        </small>
                    
                    </h3>
                {% endif %}


                {% autoescape off %}
                    {{element.get_element_type.element.content}}
                {% endautoescape %}

                {% if element.get_element_type.type == 'Char input'  %}
                    {% include 'take_quiz_elements/char_input_element.html' %}
                {% elif element.get_element_type.type == 'Text input'  %}
                    {% include 'take_quiz_elements/text_input_element.html' %}
                {% elif element.get_element_type.type == 'Email input'  %}
                    {% include 'take_quiz_elements/email_input_element.html' %}
                {% elif element.get_element_type.type == 'Dropdown'  %}
                    {% include 'take_quiz_elements/dropdown.html' %}
                {% elif element.get_element_type.type == 'Number input'  %}
                    {% include 'take_quiz_elements/number_input_element.html' %}
                {% elif element.get_element_type.type == 'Review stars'  %}
                    {% include 'take_quiz_elements/review_stars.html' %}

                {% elif element.get_element_type.type == 'Multiple choice question'  %}
                    {% include 'take_quiz_elements/multiple_choice_input_element.html' %}
                {% elif element.get_element_type.type == 'Single choice question'  %}
                    {% include 'take_quiz_elements/single_choice_input_element.html' %}
                {% elif element.get_element_type.type == 'Agree disagree table'  %}
                    {% include 'take_quiz_elements/agree_disagree_table.html' %}
                {% elif element.get_element_type.type == 'Satisfied unsatisfied table'  %}
                    {% include 'take_quiz_elements/satisfied_unsatisfied_table.html' %}
                {% elif element.get_element_type.type == 'Image'  %}
                    {% include 'take_quiz_elements/Image.html' %}


                {% endif %}


                {% if element.get_element_type.element.required and not element.get_element_type.type == "Review stars" %}
                <script>
                    function setRequired{{element.id}}(){
                        document.getElementById('question_{{element.id}}').required = true
                        clearInterval(setRequired{{element.id}}Interval)

                    }
                    
                    setRequired{{element.id}}Interval = setInterval(setRequired{{element.id}}, 100);

                </script>

                {% elif element.get_element_type.element.required and element.get_element_type.type == "Review stars" %}

                <script>
                    function setRequired{{element.id}}(){
                        question = document.getElementById('question_{{element.id}}')
                        inputs = question.querySelectorAll('input')
                        console.log(inputs)
                        for (let i = 0; i < inputs.length; i++) {
                            inputs[i].required = true
                          } 
                        clearInterval(setRequired{{element.id}}Interval)

                    }
                    
                    setRequired{{element.id}}Interval = setInterval(setRequired{{element.id}}, 100);

                </script>         

                {% endif %}

            {% endfor %}

            {% if not first_page %}
                <a class="float-left my-3"
                   hx-get={% url 'take_previous_page' quiz_page.quiz.id quiz_page.number response_id %}
                   hx-swap=outerHTML
                   hx-target=#quizRenderPreview
                   type="button"
                >
                    Previous page
                </a>
            {% endif %}


            {% if not quiz_page.is_last_page %}
                <div class="py-3 text-center">
                    <button type="submit" class="btn btn-primary  ">Continue</button>
                </div>
            {% else %}

                <div class="py-3 text-center">
                    <button type="submit"
                            class="btn btn-primary  ">Continue</button>
                </div>
            {% endif %}


        </div>
    </div>


    {% if quiz_page.quiz.analytics_scripts %}
        {% autoescape off %}
            {{quiz_page.quiz.analytics_scripts}}
        {% endautoescape %}
        <script>
            fbq('track', 'PageView', {}, {eventID: '{{pv_event_unique_id}}'});
            fbq('track', 'ViewContent', {}, {eventID: '{{vc_event_unique_id}}'});

        </script>
    {% endif %}
</form>
