<form id="quizRenderPreview"

hx-post={% url 'take_next_page' quiz_page.quiz.id quiz_page.number response_id %}
hx-swap=outerHTML
hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
hx-encoding="multipart/form-data"
class="d-flex">


TEST  {{quiz_page.number}} {{quiz_page.id}}


    <div class="col-lg-9 mx-auto p-3 bg-white border-2 bg-shadow">

    {% for element in quiz_page.get_quiz_page_elements %}
        <br><br>
        {% if element.get_element_type.type == 'Text element' or  element.get_element_type.type == 'Char element' or  element.get_element_type.type == 'Email element' or element.get_element_type.type == 'Number element' or element.get_element_type.type == 'Multiple choice question' %}
        <b>{{element.get_element_type.element.title}}</b>
            {% autoescape off %}
            <b>{{element.get_element_type.element.content}}</b>
                {% endautoescape %}

        {% endif %}

        <label class="text-label" for="">
            {{element.get_element_type.element.title}}
        </label>
        {{element.id}}

  


        {% if element.get_element_type.type == 'Char input element'  %}
            {% include 'take_quiz_elements/char_input_element.html' %}
        {% elif element.get_element_type.type == 'Text input element'  %}
            {% include 'take_quiz_elements/text_input_element.html' %}
        {% elif element.get_element_type.type == 'Email input element'  %}
            {% include 'take_quiz_elements/email_input_element.html' %}
        {% elif element.get_element_type.type == 'Number input element'  %}
            {% include 'take_quiz_elements/number_input_element.html' %}
        {% elif element.get_element_type.type == 'Multiple choice question'  %}
            {% include 'take_quiz_elements/multiple_choice_input_element.html' %}
        {% endif %}
            
    {% endfor %}

    {% if not first_page %}
    <a class="float-left my-3"
     hx-get={% url 'take_previous_page' quiz_page.quiz.id quiz_page.number response_id %}
    hx-swap=outerHTML
    hx-target=#quizRenderPreview
    type="button"
    >
      Previous page
    </a>
    {% endif %}


    {% if not quiz_page.is_last_page %}
    <div>
        <button type="submit" class="btn btn-primary float-right my-3">Continue</button>
    </div>
    {% else %}
    <h6 class="text-center">End of quiz</h6>
    {% endif %}
</div>
    </form>
