{% extends 'take_quiz/base.html' %}

{% load static %}
{% block content %}

    {% if user_payment_status  %}
        
       {% if user_payment_status.status == "active" or user_payment_status.status == "free_trial" %}

        {% if quiz_page %}


            {% include 'quiz_form.html' %}

        {% else %}

            <center class="m-5">

                No pages have been added to this quiz yet.
            </center>

        {% endif %}

    {% else %}
        <center class="m-5">

            Quiz owner's subscription has expired. Please contact them.
        </center>
    {% endif %}

    {% endif %}



{% endblock content %}
