{% load static %}

{% if quizes %}
<div class="text-center">
    <a style="" href="{% url 'create_quiz' %}" class="btn btn-primary site-button mx-auto float-right my-1">
        Create <i class="fa fa-plus mx-1"></i>
    </a>
</div>
{% endif %}

<div id="quizesList">

    {% if quizes %}


        <style>

            .dropleft .dropdown-toggle::before, .dropright .dropdown-toggle::before, .dropup .dropdown-toggle::after, .dropdown-toggle::after {
                display: none;
            }
        </style>

        <div class="card-body py-0 ">
            <div class="tab-pane active show fade d-inline" id="Unifinshed">

                {% for quiz in quizes %}

                    <div style="border-color:#1ea7c5 !important;
                                border: 1px solid;
                                border-radius: 1.25rem;
                                -webkit-transition: all 0.5s;
                                -ms-transition: all 0.5s;
                                transition: all 0.5s;
                               " class="shadow  py-3 my-5 col-lg-9 mx-auto ">

                        <a type="button"
                           hx-confirm="Are you sure you want to delete this quiz"
                           hx-delete  ="{% url 'htmx_quiz_delete' quiz.id %}" class="ml-auto text-danger float-right"
                           hx-target="#quizesList"

                        >
                            Delete
                        </a>
                        <div class="d-flex align-items-center">


                            <div class="info ">
                                <a    href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}{% url 'take_quiz' quiz.id %}" target="_blank"
                                   type="button" class="mx-1"  >Open in new tab</a> <br>

                                   <script src={% static 'dashboard/assets/js/clipboard.min.js' %}></script>

                                <h4 class="mt-2 pt-2">

                                    <p class="">{{quiz.name}}</p></h4>



                            </div>

                        </div>
                        <strong for="" class="form-label w-100 text-dark">
                            Link:
                            <input class="form-control w-100 text-dark" id="linkToQuiz{{quiz.id}}" value="{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}{% url 'take_quiz' quiz.id %}">
                        </strong>
                        <div class="g-4 text-right mt-3">

                            <a class="btn btn-primary site-button " href="{% url 'edit_quiz' quiz.id %}">
                                <div class="float-right">Manage <i class="fa fa-edit"></i></div>
                            </a>

                            <a class="btn btn-primary site-secondary-button  " href="{% url 'view_quiz_results' quiz.id %}">
                                <div class="float-right">View responses
                                    <i class="fa fa-eye"></i></div>
                            </a>
                        </div>



                        <br>
                        <br>




                    </div>


                {% endfor %}
                {% for quiz in quizes %}

                    {% if forloop.counter == 3 %}

                        <div class="text-center">
                            <a style="float:right;" href="{% url 'create_quiz' %}" class="btn btn-primary site-button mx-auto justify-content-end my-1">
                                Create<i class="fa fa-plus mx-1"></i>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>

        </div>
    {% else %}

        <div class="card-body py-1 my-1 ">
            <div class="mx-auto text-center">
                Get started by creating
            </div>
            <div class="text-center" >
                <a  href="{% url 'create_quiz' %}" class="btn btn-primary site-button mx-auto my-1">
                    Create now <i class="fa fa-plus mx-1"></i>
                </a>
            </div>
        </div>

    {% endif %}
</div>