{% load static %}
<div id="quizesList">
{% if quizes %}
<script src="{% static 'dashboard/assets/js/clipboard.min.js' %}"></script>

<style>

    .dropleft .dropdown-toggle::before, .dropright .dropdown-toggle::before, .dropup .dropdown-toggle::after, .dropdown-toggle::after {
        display: none;
    }
</style>

<div class="card-body py-0 ">
    <div class="mx-auto ">
        Your quizes                     
    </div>
    <div class="tab-pane active show fade" id="Unifinshed"
    >
        {% for quiz in quizes %}
       
        <div style="background-color:rgba(0, 125, 136, 0.1);
            border-radius: 1.25rem;
            -webkit-transition: all 0.5s;
            -ms-transition: all 0.5s;
            transition: all 0.5s;
            " 
        
        class="plan-list list-row d-sm-flex d-block  py-3 list-row align-items-center mb-2 col-lg-9 mx-auto justify-content-center">
            
            <div class="col-xl-5 col-xxl-8 col-lg-6 col-sm-8 d-flex align-items-center">
                <div class="list-icon mr-3 mb-3">
               


              
                </div>
                <div class="info ">
                    <h4 class="fs-20 "><p class="text-black">{{quiz.name}}</p></h4>

                    <a class="mx-1   " href="{% url 'view_quiz_results' quiz.id %}">
                        View responses</i>
                    </a> |
                    
                                            <a    href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}{% url 'take_quiz' quiz.id %}" target="_blank"
                                            type="button" class="mx-1"  >Open quiz in new tab</a> |
                    
                    
                                            <div class="btn-group" role="group">
                        <a           id="copy-button{{quiz.id}}"          data-clipboard-target="#linkToQuiz{{quiz.id}}"
                        type="button" class=" dropdown-toggle mx-1" data-toggle="dropdown">Copy link to quiz</a> |
                        <div class="dropdown-menu">
                            <span class="dropdown-item" href="javascript:void()">Link successfully copied!</span>
                        </div>
                    </div>

                    <input type="hidden" id="linkToQuiz{{quiz.id}}" value="{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}{% url 'take_quiz' quiz.id %}">

                    <script>                                new ClipboardJS('#copy-button{{quiz.id}}');</script>
                    
{% comment %}                     
                    <a class="mx-1   " href="{% url 'duplicate_quiz' quiz.id %}">
                        Duplicate quiz</i>
                    </a> | {% endcomment %}

                    
  

                    <a type="button"
                    hx-confirm="Are you sure you want to delete this quiz"
                    hx-delete  ="{% url 'htmx_quiz_delete' quiz.id %}" class="mx-1"
                    hx-target="#quizesList"
       
                  
                   > 
                   Delete
                   
                   
                   
               </a>
                  
                </div>

            </div>
            <br>

            <a class="d-block " href="{% url 'edit_quiz' quiz.id %}">
                <div class="float-right fs-24 text-dark">Manage <i class="fa fa-edit"></i></div>
            </a>
            <br>
            <br>
            


        </div>

       

   
        {% endfor %}


    </div>

    <div class="text-center">
        <a style="float:right;" href="{% url 'create_quiz' %}" class="btn btn-primary site-button mx-auto justify-content-end my-1">
            Create quiz
        </a>
    </div>                 
</div>
{% else %}

<div class="card-body py-4 mt-2 justify-content-center">
    <div class="mx-auto justify-content-center text-center">
        Get started by creating your first quiz                     
    </div>
    <div class="text-center">
        <a href="{% url 'create_quiz' %}" class="btn btn-primary site-button mx-auto justify-content-center my-1">
            Create quiz
        </a>
    </div>                
</div>
{% endif %}
</div>