{% extends 'home_site2/base.html' %}

{% load static %}
{% block content %}


		<!--**********************************
            Content body start
        ***********************************-->
    <title>Exit interview surveys - {{site.site_name}}  </title>

			<!-- ============================================================== -->
			<!-- Start right Content here -->
			<!-- ============================================================== -->


			{% comment %} Start main section {% endcomment %}

    <div class="row flex-lg-row align-items-center mb-5">

        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">

                Exit interview surveys with  quizElements

            </h1>
            <h2 class="lead fs-3">
            </h2>

            <div class="text-center" >
                <a href="{% url 'register_user' %}" type="button" class="btn btn-primary btn-lg site-button ">Register for 7 day free trial </a>
                <p class="text-center my-1" >No credit card required.
                </p>
            </div>


        </div>

        <div class="col-10 col-sm-8 col-lg-6 mx-auto ">
            <img
                src="{% static 'images/laptop-mockup-quiz-creator.jpg' %}"
                class="d-block mx-lg-auto img-fluid " alt="quizElements quiz survey creation creator on laptop" loading="lazy"
                style="max-height:15rem;" >
        </div>
    </div>

			{% comment %} End main section {% endcomment %} 


    

    <div class="row my-5">
        <div class="col-lg-4">
            <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
            </div>
            <h2 class="text-center">12+ quizElements™</h2>
            <div class="img-fluid mx-auto justify-content-center d-flex">
                <img src="{% static 'images/elements.png' %}" alt="" class="">
            </div>
            <p>Create your survey the way you want with ease.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
            </div>

            <h2 class="text-center  ">Fully white-labelled</h2>
            <div class="img-fluid mx-auto justify-content-center d-flex">
                <img src="{% static 'images/your_logo_here.png' %}" alt="" class="">
            </div>
            <p>Maintain your brand image by adding your logo</p>
            
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
            </div>

            <h2 class="text-center">Analyze results</h2>
            <div class="img-fluid mx-auto justify-content-center d-flex">
                <img src="{% static 'images/unlimited.png' %}" alt="" class="">
            </div>
            <p>Gain actionable insights with a question by question breakdown with graphs</p>
        </div><!-- /.col-lg-4 -->
    </div>

    {% include 'home_site2/landing_pages/includes/example_quiz.html' %}


    <div class="row" >
        <div class="bootstrap-media w-100">
            <ul class="list-unstyled">
                <div class="media-body">
                    <h2 class="mt-0 ">Step 1. Create</h2>
        
                    <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
                    </div>
               
               
               
               
                    <li class="media">

                        <p class="mb-0 display-4">
                            <ul class="list-group">

                                <li class="list-group-item">
                                    With over 10+ elements to choose from easily create the perfect exit interview survey
                                </li class="list-group-item">

                                <li class="list-group-item">
                                    Control how many questions there are per page
                                </li class="list-group-item">

                                <li class="list-group-item">
                                    Maintain your brand identity by adding your logo 
                                </li class="list-group-item">
                                
                                
                            </ul>

                        </p>
                    </div>
                </li>
                <h2 class="mt-0">Step 2. Generate responses</h2>

                <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
                </div>
                <li class="media my-4">
                    <div class="media-body">
                        <p class="mb-0 display-4">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Send your form to others via a shareable link
                                 </li class="list-group-item">
 
                                 <li class="list-group-item">
                                     Embed your lead capture form into your website
                                 </li class="list-group-item">
 
                                 <li class="list-group-item">
                                     Share a QR code link to your form
                                 </li class="list-group-item">
                                
                                
                            </ul>

                        </p>                    </div>
                </li>
                <h2 class="mt-0">Step 3. Analyze</h2>

                <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
                </div>
                <li class="media">
                    <div class="media-body">
                        <p class="mb-0 display-4">
                            <ul class="list-group">

                                <li class="list-group-item">
                                    View each survey response including partially completed responses
                                </li class="list-group-item">

                                <li class="list-group-item">
                                    Detailed question by question breakdown with graphs
                                </li class="list-group-item">

                                <li class="list-group-item">
                                    Analyze data from all sources including partial completions
                                </li class="list-group-item">      
                                
                            </ul>

                        </p>                    </div>
                </li>
            </ul>
        </div>
    </div>
<hr>
    
    {% include 'home_site2/landing_pages/includes/features_list.html' %}



    <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
    </div>
    <div class="row my-3">
        <h2>Exit interview survey importance</h2>
        <p>
            Exit interview surveys are a powerful tool for retention and improvement in organizations. <br> They can help you understand why employees stay, why they leave, and how the organization needs to change1. <br> They can also reveal hidden challenges and opportunities, generate competitive intelligence, and promote engagement and appreciation. <br> Exit interview surveys can help you identify potential retention issues before they lead to people leaving, and analyze trends and patterns by demographic, tenure, performance, and roles. <br>
             They can also turn departing employees into corporate ambassadors for years to come.

        </p>

    </div>


    <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
    </div>
 
    <div class="row my-3">
        <h2>How to conduct an exit interview survey</h2>
        <p>
            <b>
                Decide what to ask:
            </b>
             You should prepare a set of exit interview questions that cover the main topics you want to explore, such as the employee’s reasons for leaving, their satisfaction with their job and the company, their feedback on the culture and management, their suggestions for improvement, and their future plans, You should also use open-ended questions that encourage honest and detailed answers.

             <br>
             <b>
                 Decide what not to ask:
                </b>
              You should avoid asking questions that are irrelevant, inappropriate, or illegal13. For example, you should not ask about the employee’s personal life, health issues, political views, or protected characteristics (such as age, race, gender, religion, etc.). You should also not ask questions that imply criticism or blame, such as “What did you do wrong?” or "Why didn’t you perform better?".
           

        </p>

    </div>
 
    <div class="row my-3">
        <h2>Common reasons why employees leave</h2>
        <p>
    <ul class="ml-5">
        Employees leave their jobs for various reasons, but some are more common than others. According to different sources123, some of the most common reasons why employees leave are:
        <br>
        <li>Poor pay: Employees may feel underpaid or undervalued for the work they do, or they may need more money to cover their living expenses or save for their future12.</li><br>
        <li>Lack of career advancement opportunities: Employees may want to grow and develop their skills and take on more responsibilities, but they may not find enough room for progression or learning in their current role or company.</li><br>
        <li>Feeling disrespected at work: Employees may feel that their work is not appreciated or recognized, or that they are treated unfairly or unprofessionally by their managers or colleagues.</li><br>
        <li>Childcare issues: Employees may have difficulties balancing their work and family obligations, especially if they have young children or dependents who need care and attention.</li><br>
        <li>Not enough flexibility: Employees may want more flexibility in their work schedule, location, or arrangements, especially if they have personal or family commitments or preferences that require more autonomy and choice.</li><br>

        <li>Poor work-life balance: Employees may feel overwhelmed or stressed by their workload, deadlines, or expectations, and they may not have enough time or energy for their personal life or hobbies.</li><br> 
        <li>Burnout: Employees may experience physical, mental, or emotional exhaustion from their work, which can affect their health, well-being, and performance.</li><br> 
        <li>A bad manager: Employees may have a poor relationship with their manager or supervisor, who may be unsupportive, ineffective, abusive, or micromanaging.</li><br> 
        <li>Feeling uninspired: Employees may lose interest or passion for their work, which can affect their motivation, engagement, and productivity.</li><br> 
        <li>Switching careers: Employees may want to pursue a different field or industry that aligns more with their interests, skills, education, or goals.</li><br> 
        <li>Looking for a challenge: Employees may feel bored or stagnant in their current role, and they may want to find a job that offers more stimulation and variety. </li> <br>
    </ul>

        </p>

    </div>
 
  
{% endblock content %}
