{% extends 'home_site2/base.html' %}

{% load static %}
{% block content %}


		<!--**********************************
            Content body start
        ***********************************-->
    <title>Lead capture with quizes and surveys - {{site.site_name}}  </title>

			<!-- ============================================================== -->
			<!-- Start right Content here -->
			<!-- ============================================================== -->


			{% comment %} Start main section {% endcomment %}

    <div class="row flex-lg-row align-items-center mb-5">

        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">

                Lead capture with quizElements

            </h1>
            <h2 class="lead fs-3">
            </h2>

            <div class="text-center" >
                <a href="{% url 'register_user' %}" type="button" class="btn btn-primary btn-lg site-button ">Register for 7 day free trial </a>
                <p class="text-center my-1" >No credit card required.
                </p>
            </div>


        </div>

        <div class="col-10 col-sm-8 col-lg-6 mx-auto ">
            <img
                src="{% static 'images/laptop-mockup-quiz-creator.jpg' %}"
                class="d-block mx-lg-auto img-fluid " alt="quizElements quiz survey creation creator on laptop" loading="lazy"
                style="max-height:15rem;" >
        </div>
    </div>

			{% comment %} End main section {% endcomment %} 


    

    <div class="row my-5">
        <div class="col-lg-4">
            <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
            </div>
            <h2 class="text-center">12+ quizElements™</h2>
            <div class="img-fluid mx-auto justify-content-center d-flex">
                <img src="{% static 'images/elements.png' %}" alt="" class="">
            </div>
            <p>Create your survey the way you want with ease.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
            </div>

            <h2 class="text-center  ">Fully white-labelled</h2>
            <div class="img-fluid mx-auto justify-content-center d-flex">
                <img src="{% static 'images/your_logo_here.png' %}" alt="" class="">
            </div>
            <p>Maintain your brand image by adding your logo</p>
            
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
            </div>

            <h2 class="text-center">Facebook/Tiktok/Google</h2>
            <div class="img-fluid mx-auto justify-content-center d-flex">
                <img src="{% static 'images/unlimited.png' %}" alt="" class="">
            </div>
            <p>Fully integrated with Facebook and Tiktok conversion API. Easily add google analytics and custom scripts.</p>
        </div><!-- /.col-lg-4 -->
    </div>

    

    <div class="row" >
        <div class="bootstrap-media w-100">
            <ul class="list-unstyled">
                <div class="media-body">
                    <h2 class="mt-0 ">Step 1. Create</h2>
        
                    <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
                    </div>
               
               
               
               
                    <li class="media">

                        <p class="mb-0 display-4">
                            <ul class="list-group">

                                <li class="list-group-item">
                                    With over 10+ elements to choose from easily create the perfect customer survey
                                </li class="list-group-item">

                                <li class="list-group-item">
                                    Control how many questions there are per page
                                </li class="list-group-item">

                                <li class="list-group-item">
                                    Maintain your brand identity by adding your logo 
                                </li class="list-group-item">
                                
                                
                            </ul>

                        </p>
                    </div>
                </li>
                <h2 class="mt-0">Step 2. Generate responses</h2>

                <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
                </div>
                <li class="media my-4">
                    <div class="media-body">
                        <p class="mb-0 display-4">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Send your form to others via a shareable link
                                 </li class="list-group-item">
 
                                 <li class="list-group-item">
                                     Embed your lead capture form into your website
                                 </li class="list-group-item">
 
                                 <li class="list-group-item">
                                     Share a QR code link to your form
                                 </li class="list-group-item">
                                
                                
                            </ul>

                        </p>                    </div>
                </li>
                <h2 class="mt-0">Step 3. Analyze</h2>

                <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
                </div>
                <li class="media">
                    <div class="media-body">
                        <p class="mb-0 display-4">
                            <ul class="list-group">

                                <li class="list-group-item">
                                    View each survey response including partially completed responses
                                </li class="list-group-item">

                                <li class="list-group-item">
                                    Detailed question by question breakdown with graphs
                                </li class="list-group-item">

                                <li class="list-group-item">
                                    Analyze data from all sources including partial completions
                                </li class="list-group-item">      
                                
                            </ul>

                        </p>                    </div>
                </li>
            </ul>
        </div>
    </div>
<hr>
    
    {% include 'home_site2/landing_pages/includes/features_list.html' %}



    <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
    </div>
    <div class="row my-3">
        <h2>Quiz funnel lead generation</h2>
        <p>
            Quiz funnel lead generation is a strategy that uses online quizzes to attract and qualify leads for your business. A quiz funnel typically consists of the following steps:
<br>
        <br>    You create a quiz that is relevant to your niche, audience, and offer. The quiz should be engaging, informative, and personalized.
            <br><br>You drive traffic to your quiz from various sources, such as your website, social media, email, or ads.
            <br><br>You ask for the quiz taker’s email address before or after showing them their results. This way, you can capture their contact information and segment them based on their answers.
            <br><br>You follow up with your leads via email or other channels, providing them with valuable content, product recommendations, and offers that match their quiz results and interests.
            <br><br>Quiz funnel lead generation can help you generate more leads, increase conversions, and grow your business.        </p>
    </div>

    <div class="p-1 w-100 rounded my-3" style="background:  linear-gradient(90deg, rgba(30,167,197,1) 1%, rgba(18,90,169,1) 20%, rgba(11,42,151,1) 50%, rgba(22,120,180,1) 80%, rgba(22,117,179,1) 80%, rgba(30,167,197,1) 100%, rgba(30,167,197,1) 100%); !important">
    </div>
    <div class="row my-3">
        <h3>Benefits of quizElements for lead generation</h3>
        <p>
            <ul class="ml-5">
                <b>
    
                    Some of the benefits of using quizzes for lead generation are:
                </b>
                <li>
                    Increased engagement and interaction with target audience: Quizzes are a fun and interactive way to grab the attention of your potential customers and keep them engaged with your brand. Quizzes can also encourage social sharing and word-
                    of mouth marketing.
                </li>
                <br>

                <li>Collection of valuable lead information: Quizzes can help you capture the contact information and segment your leads based on their answers. This can help you create a database of leads for your business and follow up with them via email or other channels.</li>
                <br><li>Boost in brand awareness and recognition: Quizzes can help you raise awareness of your brand and generate buzz. Quizzes can also showcase your expertise and authority in your niche, and build trust and credibility with your potential customers.</li>
                <br><li>Improved customer experience and satisfaction: Quizzes can help you provide a unique and enjoyable experience for your target audience, and deliver personalized and relevant content, product recommendations, and offers based on their quiz results. This can help you improve customer satisfaction and loyalty.</li>
                <br><li>Increased conversions and sales: Quizzes can help you increase conversions and sales by generating qualified leads, providing personalized solutions, and creating a sense of urgency or scarcity. Quizzes can also help you reduce cart abandonment and increase repeat purchases.</li>
                <br><li>Cost-effective method of lead generation: Quizzes can help you generate leads at a lower cost than other methods, such as paid ads or cold calling. Quizzes can also help you optimize your marketing budget by targeting only the most relevant and interested.</li>
            </ul>
               
        </p>
    </div>

 

  



{% include 'home_site2/landing_pages/includes/example_quiz.html' %}

{% endblock content %}
