{% extends 'dashboard2/base.html' %}
{% load static %}
{% block content %}

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->




    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="card">
                <h5 class="m-3">Current account details</h5>
                <div class="card-body">
                    <br>
                    Email: {{user.email}}

                </div>
                                    <!-- end card body -->




                <h5 class="m-3">Change details</h5>


                <div class="card-body">

                    <form action="{% url 'account_details_dashboard' %}" method="POST" class="needs-validation was-validated"  enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}


                            <div class="">



                                <div class="row mb-4">
                                    
                                    <div class="w-100">
                                        <label for="{{field.name}}" class="form-label">{{field.field.widget.attrs.title}}
                                        </label>
                                        <div class="input-group">

                                            {% if field.field.widget.attrs.input_group_text %}

                                                <div class="input-group-text">{{field.field.widget.attrs.input_group_text}}</div>
                                            {% endif %}

                                            {{field}}
                                        </div>
                                        <div class="invalid-feedback">
                                            {{field.errors}}
                                        </div>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>

                        {% endfor %}



                        <div class="d-flex ">



                            <div class="btn-group mx-auto " role="group" aria-label="Basic example">
                                <button  type="submit" class="btn btn-primary site-button">Save</button>
                            </div>
                        </div>

                    </form>



                </div>
                                <!-- end card body -->
            </div>
                            <!-- end card -->
        </div>
                        <!-- end col -->
    </div>
                    <!-- end row -->








{% endblock content %}
