{% extends 'dashboard2/base.html' %}
{% load static %}
{% block content %}

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->



    <div class="row">
        <h1 class="text-center">Change Account Password</h1>
    </div>



    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <h5 class="card-title">Change password</h5>


                <div class="card-body">

                    <form action="{% url 'change_password_dashboard' %}" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}


                            <div class="card-title">



                                <div class="row mb-4">
                                    <label for="{{field.name}}" class="col-sm-3 col-form-label">{{field.field.widget.attrs.title}}</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">

                                            {% if field.field.widget.attrs.input_group_text %}

                                                <div class="input-group-text">{{field.field.widget.attrs.input_group_text}}</div>
                                            {% endif %}

                                            {{field}}
                                        </div>
                                        {{field.errors}}
                                        <div class="invalid-feedback">
                                        </div>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>

                        {% endfor %}



                        <div class="d-flex ">



                            <div class="btn-group mx-auto " role="group" aria-label="Basic example">
                                <button  type="submit" class="btn btn-primary site-button">Save</button>
                            </div>
                        </div>

                    </form>



                </div>
                                <!-- end card body -->
            </div>
                            <!-- end card -->
        </div>
                        <!-- end col -->
    </div>
                    <!-- end row -->








{% endblock content %}
