{% extends 'dashboard2/base.html' %}

{% load static %}
{% block content %}

    <div class="row">

        <div class="col-xl-6 col-xxl-12">
            <div class="card col-lg-9 mx-auto justify-content-center my-5" >
                <div class="card-header d-sm-flex d-block pb-0 border-0">
                    <div class="mr-auto pr-3 mb-sm-0 mb-3">
                        <h4 class="text-black fs-20"></h4>
                        {% comment %} <p class="fs-13 mb-0 text-black">Lorem ipsum dolor sit amet, consectetur</p> {% endcomment %}
                    </div>

                </div>
                {% include 'quiz_creation/quizes_list.html' %}
            </div>
        </div>

    </div>
    </div>
    </div>

    {% if category.enable_pixels %}
        {% if pv_event_unique_id or vc_event_unique_id or lead_event_unique_id %}
            {% autoescape off %}
                {{category.analytics_base}}
            {% endautoescape %}
        {% endif %}
        <script>
            {% if pv_event_unique_id %}
                fbq('track', 'PageView', {}, {eventID: '{{pv_event_unique_id}}'});
            {% endif %}

            {% if vc_event_unique_id %}
                fbq('track', 'ViewContent', {}, {eventID: '{{vc_event_unique_id}}'});
            {% endif %}

            {% if lead_event_unique_id %}
                fbq('track', 'Lead', {}, {eventID: '{{lead_event_unique_id}}'});
            {% endif %}

        </script>
    {% endif %}


{% endblock content %}
